@charset "utf-8";
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: #ffcc09;
    color: black;
    text-align: center;
    line-height: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em;
}
img {
    height: 240px;
    width: 320px;
}
figure {
    width: 320px;
    padding: 5px;
    border: 2px solid #00ff0d;
}
figcaption {
    text-align: center;
    font-family: papyrus, fantasy;
}
footer {
    color: #ee0303;
    font-size: .75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}